@model BTLNHOM14.Models.User

@{
    ViewData["Title"] = "SignIn";
}
<div id="form-sb1">
<h1>SIGN IN</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignIn" method="post">
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="SignIn" class="btn btn-primary" />
                <span class="text-danger"></span>
                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Create">No Accout, Sign Up</a>
            </div>
            
        </form>
    </div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}